:root {
  --background: #17181d;
  --background-secondary: #24282f;
  --text-color: #dfe1e6;
  --accent: #ff672c;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap");
@font-face {
  font-family: Oxanium;
  src: url(../fonts/Oxanium-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-secondary);
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 1rem;
}

#navbar {
  width: 100%;
  min-height: 7vh;
  height: 7vh;
  max-height: 8vh;
  background: var(--background-secondary);
  position: sticky;
  top: 0;
  z-index: 11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #4c4e52;
}

.navbar-cs {
  list-style-type: none;
}

.nav-item {
  display: inline-block;
  margin-right: 1rem;
}

.nav-link {
  color: var(--text-color);
  transition: 200ms ease;
}

.nav-link:hover {
  color: var(--accent);
}

.icons-container {
  display: flex;
  justify-content: space-between;
}

.light-dark-mode {
  position: relative;
  margin-left: 1rem;
}

.dark-mode-icon {
  display: block;
  cursor: pointer;
}

.light-mode-icon {
  display: none;
  cursor: pointer;
}

.logo {
  font-family: "Oxanium", cursive;
}

.offcanvas-menu-toggler {
  display: none;
  color: var(--text-color);
  transition: 200ms ease;
}

.offcanvas-menu-toggler:hover {
  color: var(--accent);
}

.offcanvas-nav-cs {
  background: var(--background-secondary);
}

.bttn-close-cs {
  background: transparent;
  border: 0;
}

.offcanvas-nav-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.offcanvas-nav-item {
  margin-bottom: 1rem;
}

#hero-section,
#latest-collection,
#category,
#item-catalog,
#categories,
#join {
  width: 100%;
  min-height: 93vh;
  background: var(--background-secondary);
  position: relative;
}

.section-name {
  position: absolute;
  font-family: "Oxanium", cursive;
  top: 1rem;
  left: 5rem;
  opacity: 0.4;
  font-size: 2.1rem;
  z-index: 10;
}

.welcome {
  position: absolute;
  top: 85%;
  left: 97%;
  transform: translate(-50%, -50%) rotate(90deg);
  width: fit-content;
  font-size: 1.2rem;
  font-family: sans-serif;
}

.carousel-inner-featured {
  min-height: 93vh;
}

.carousel-item-inner {
  width: 100%;
  min-height: 93vh;
  overflow: hidden;
  position: relative;
}

.carousel-bttn-container {
  position: absolute;
  top: 85%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.carousel-control-bttn {
  background: transparent;
  border: 0;
  color: var(--accent);
}

.carousel-control-icon {
  font-size: 5rem;
}

.product-info-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.carousel-product-container {
  position: relative;
  z-index: 1;
}

.discount {
  position: absolute;
  font-family: "Oxanium", cursive;
  top: 18%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: var(--accent);
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-family: "Oxanium", cursive;
}

.real-price {
  text-decoration: line-through;
  opacity: 0.5;
  font-size: 2rem;
}

.discounted-price {
  color: var(--accent);
  font-size: 2.5rem;
}

.category-name {
  position: absolute;
  width: fit-content;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%) rotate(90deg);
  z-index: 0;
  font-weight: 700;
  font-size: 15rem;
  opacity: 0.15;
}

.gender-category {
  font-family: "Oxanium", cursive;
  position: absolute;
  bottom: 4rem;
  left: 1rem;
}

.product-name {
  font-size: 7rem;
  margin-left: 1rem;
  font-family: "Oxanium", cursive;
  width: 50rem;
}

.cta-bttn {
  background: var(--background);
  color: var(--text-color);
  border: 0;
  width: fit-content;
  padding: 1rem 2.5rem;
  position: relative;
  z-index: 3;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-bttn-wrapper {
  padding: 0.5rem;
  margin-left: 1rem;
  width: fit-content;
  position: relative;
  overflow: hidden;
  z-index: 2;
  cursor: pointer;
}

.cta-bttn-wrapper::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 25%;
  background: transparent;
  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
  /* border: 1px solid red; */
  height: 0.1rem;
  top: 0;
  right: 0;
  transition: 200ms ease;
  z-index: 1;
}

.cta-bttn-wrapper:hover::after {
  width: 100%;
  height: 100%;
  border-right: 1px solid var(--accent);
  border-top: 1px solid var(--accent);
}

.cta-bttn-wrapper::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 25%;
  background: transparent;
  border-bottom: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
  /* border: 1px solid red; */
  height: 0.1rem;
  bottom: 0;
  left: 0;
  transition: 200ms ease;
  z-index: 1;
}

.cta-bttn-wrapper:hover::before {
  width: 100%;
  height: 100%;
  border-left: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
}

.cta-bttn::before {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--text-color);
  transition: 200ms ease;
  z-index: 0;
}

.cta-bttn:hover::before {
  background-color: var(--accent);
}

.collection-heading-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 15vh;
}

.collection-heading {
  font-family: "Oxanium", cursive;
  font-size: 5rem;
}

.content {
  width: 100%;
  overflow: hidden;
  min-height: 78vh;
}

.collection-text-container {
  min-height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
}

.collection-text {
  opacity: 0.9;
  margin-left: 1rem;
}

.collection-gallery {
  position: relative;
  min-height: 78vh;
}

.collection-card-row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5rem;
  overflow-x: auto;
}

.collection-card-row::-webkit-scrollbar {
  height: 0.2rem;
}

.collection-card {
  min-width: 24rem;
  max-width: 24rem;
  height: 75%;
  margin-right: 3rem;
  background: no-repeat center center;
  background-size: cover;
  border: 1px solid #dfe1e690;
  transition: 400ms ease;
  position: relative;
  cursor: pointer;
  filter: grayscale(1);
}

.collection-card:hover {
  filter: grayscale(0);
}

.collection-name {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background: var(--background);
  height: 4rem;
  font-family: "Oxanium";
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.category-image-container {
  border: 1px solid #dfe1e690;
  position: relative;
  overflow: hidden;
}

.category-image-container img {
  filter: grayscale(1);
  position: relative;
  z-index: 0;
  transition: 400ms ease;
}

.category-image-container:hover img {
  filter: grayscale(0);
  transform: scale(1.025);
}

.items-row {
  width: 100%;
  min-height: 78vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
}

.items-row::-webkit-scrollbar {
  height: 0.5rem;
}

.item-card {
  min-width: 25rem;
  max-width: 25rem;
  min-height: 42rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 2rem;
}

.item-img-container {
  width: 100%;
  min-height: 30rem;
  max-height: 30rem;
  margin-bottom: 1rem;
}

.item-price-container {
  width: 50%;
  font-family: "Oxanium", cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-real-price {
  font-size: 1.8rem;
  color: var(--text-color);
  opacity: 0.6;
  text-decoration: line-through;
}

.item-discounted-price {
  font-size: 2rem;
  color: var(--accent);
}

.col-categories {
  min-height: 78vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
}

.col-categories::-webkit-scrollbar {
  height: 0.6rem;
}

.category-card {
  position: relative;
  min-width: 25rem;
  max-width: 25rem;
  min-height: 100%;
  max-height: 100%;
  border: 1px solid #dfe1e690;
  overflow: hidden;
  margin-right: 2rem;
}

.category-card img {
  position: relative;
  transform: scale(1.025);
  z-index: 0;
  filter: grayscale(1);
  transition: 400ms ease;
}

.category-card:hover img {
  transform: scale(1.05);
  filter: grayscale(0);
}

#gallery {
  min-height: 75vh;
  position: relative;
}

.gallery-social {
  width: 100%;
  height: 35rem;
  position: relative;
  margin-top: 10rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: auto;
}

.gallery-social::-webkit-scrollbar {
  height: 0.5rem;
}

.gallery-img-social {
  min-width: 30rem;
  max-width: 30rem;
  max-height: 30rem;
  border: 1px solid var(--text-color);
}

.join-us {
  min-height: 78vh;
  background: linear-gradient(
      110deg,
      var(--background-secondary) 35%,
      #00000000 35%
    ),
    url(../images/join-us.jpg) no-repeat right center;
  background-size: cover;
}

#service {
  min-height: 50vh;
  background: var(--background);
  margin-bottom: 2rem;
}

.service-text-container {
  min-height: 50vh;
  padding-top: 10rem;
}

.heading {
  font-size: 2.75rem;
  font-family: "Oxanium", cursive;
}

.sub-heading {
  margin-bottom: 4rem;
}

footer {
  background: var(--background);
  border-top: 1px solid #dfe1e690;
}

.icon-link {
  color: var(--text-color);
  transition: 200ms ease;
}

.icon-link:hover {
  color: var(--accent);
}

.border-bottom-footer {
  border-bottom: 1px solid #dfe1e690;
}
